@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "tailwindcss";

@theme {
  --font-navbar: "Inter", "sans-serif"; 
  --color-default-background : #b9d8c2;
  --color-gradient-left : #9ac2c9;
  --color-gradient-right : #4A5043;
  --color-button-background : #FFCB47;
  --color-text-search-color : #FFCB47;
  --font-Inter: "Inter", sans-serif;
  --default-font-family: "Inter", sans-serif;


/* colors definitions*/
--color-primary: #b9d8c2;
--color-secondary: #9ac2c9;
--color-tertiary: #8aa1b1;
--color-quaternary: #4A5043;
--color-quinary: #FFCB47;
--color-transparent-background: rgba(255, 255, 255, 0.7); 

}

@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
}

