@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "tailwindcss";

@theme {
  --font-navbar: "Inter", "sans-serif"; 
  --color-default-background : #DFC5F2;
  --color-gradient-left : #CA56DE;
  --color-gradient-right : #FFB300;
  
}

